In [15]:
import pandas as pd

# *** PART 1: DATA WRANGLING *** #

# Read in data sets
wb_indicators = pd.read_csv('../data/wb_indicators.csv', na_values = '..')
wb_metadata = pd.read_csv('../data/wb_indicators_metadata.csv')

# Transform data into tidy format
wb_indicators_long = wb_indicators.melt(id_vars = ['Country Name', 'Country Code', 'Series Name', 'Series Code'],
                                        var_name = 'year',
                                        value_name = 'indicator_value')

# View updated table
wb_indicators_long.head

<bound method NDFrame.head of                                            Country Name Country Code  \
0                                           Afghanistan          AFG
1                                           Afghanistan          AFG
2                                           Afghanistan          AFG
3                                           Afghanistan          AFG
4                                           Afghanistan          AFG
...                                                 ...          ...
26695                                               NaN          NaN
26696                                               NaN          NaN
26697                                               NaN          NaN
26698  Data from database: World Development Indicators          NaN
26699                          Last Updated: 07/21/2021          NaN

                                             Series Name        Series Code  \
0      Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1                Access to electricity (% of population)     EG.ELC.ACCS.ZS
2                                     CO2 emissions (kt)     EN.ATM.CO2E.KT
3            Fossil fuel energy consumption (% of total)  EG.USE.COMM.FO.ZS
4      Level of water stress: freshwater withdrawal a...     ER.H2O.FWST.ZS
...                                                  ...                ...
26695                                                NaN                NaN
26696                                                NaN                NaN
26697                                                NaN                NaN
26698                                                NaN                NaN
26699                                                NaN                NaN

                year  indicator_value
0      2001 [YR2001]             9.51
1      2001 [YR2001]              NaN
2      2001 [YR2001]           810.00
3      2001 [YR2001]              NaN
4      2001 [YR2001]              NaN
...              ...              ...
26695  2020 [YR2020]              NaN
26696  2020 [YR2020]              NaN
26697  2020 [YR2020]              NaN
26698  2020 [YR2020]              NaN
26699  2020 [YR2020]              NaN

[26700 rows x 6 columns]>

In [16]:
# Determine dimensions
wb_indicators_long.shape

(26700, 6)

In [17]:
# Clean up year column to isolate year from year code
wb_indicators_long[['year', 'year_code']] = wb_indicators_long.year.str.split(expand = True)

list(wb_indicators_long)

['Country Name',
 'Country Code',
 'Series Name',
 'Series Code',
 'year',
 'indicator_value',
 'year_code']

In [18]:
wb_data_clean = wb_indicators_long.drop(['Country Code', 'Series Code', 'year_code'], axis = 1)
list(wb_data_clean)

['Country Name', 'Series Name', 'year', 'indicator_value']

In [25]:
# Convert indicators to variables
wb_data_tidy = wb_data_clean.pivot_table(index = ['Country Name', 'year'],
                                         columns = 'Series Name',
                                         values = 'indicator_value')
# Reset indexes back to normal column entries
wb_data_tidy = wb_data_tidy.reset_index()

# Review data
wb_data_tidy.head()

Series Name,Country Name,year,Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),CO2 emissions (kt),Fossil fuel energy consumption (% of total),Level of water stress: freshwater withdrawal as a proportion of available freshwater resources
0,Afghanistan,2001,9.51,NaN,810.0,NaN,NaN
1,Afghanistan,2002,10.39,NaN,1100.0,NaN,54.757019
2,Afghanistan,2003,11.46,NaN,1350.0,NaN,NaN
3,Afghanistan,2004,12.43,NaN,1130.0,NaN,NaN
4,Afghanistan,2005,13.49,22.295269,1640.0,NaN,NaN

In [26]:
# Renaming columns from pivoting wider
wb_data_tidy = wb_data_tidy.rename(columns = {
    'Country Name': 'country',
    'Access to clean fuels and technologies for cooking (% of population)': 'access_fuels_pp',
    'Access to electricity (% of population)': 'access_electricity_pp',
    'CO2 emissions (kt)': 'co2_emissions_kt',
    'Fossil fuel energy consumption (% of total)': 'fossil_fuel_consumption_pt',
    'Level of water stress: freshwater withdrawal as a proportion of available freshwater resources': 'water_stress'
})
wb_data_tidy.head()

Series Name,country,year,access_fuels_pp,access_electricity_pp,co2_emissions_kt,fossil_fuel_consumption_pt,water_stress
0,Afghanistan,2001,9.51,NaN,810.0,NaN,NaN
1,Afghanistan,2002,10.39,NaN,1100.0,NaN,54.757019
2,Afghanistan,2003,11.46,NaN,1350.0,NaN,NaN
3,Afghanistan,2004,12.43,NaN,1130.0,NaN,NaN
4,Afghanistan,2005,13.49,22.295269,1640.0,NaN,NaN